<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App</title>
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="preload"></div>
<main id="app">
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="YMapsID" style="width: 100%; height: 350px;"></div>

                <div>
                    <select v-on:change="set_markers" id="filter">
                        <option value="all">Все</option>
                        <option v-for="(item, i) in districts" v-bind:value="i">
                            {{ i }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col">
                <h2 class="routs__title">
                    Маршрут проверки
                </h2>
                <transition-group name="list-item" class="routs" tag="div" class="list__ul">
                    <div class="list-item rout" v-for="item in bound_routs" :key="item">
                        <div class="rout__status">
                            <span v-bind:style="{ background: districts[item.zone.name] }">{{ item.zone.name }}</span>
                        </div>
                        <div class="rout__text">
                            <h3 class="rout__location">
                                {{ item.address }}
                            </h3>
                            <span class="rout__date"></span>
                        </div>
                        <div class="rout__user">
                            <img v-bind:src="item.zone.chief.photo" alt=""/>
                        </div>
                    </div>
                </transition-group>
            </div>
        </div>
    </div>
</main>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(window).on('load', function () {
        $('.preload').delay(500).fadeOut('slow');
    });
</script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>